.success-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.success-header {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.button-group {
  display: flex;
  flex-direction: column; /* 修改为竖直方向排布 */
  gap: 10px;
  margin-top: 1rem;
}

.button-group button {
  width: 200px; /* 设置按钮宽度 */
  background-color: #555555;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin: 0; /* 移除按钮的默认外边距 */
}

.content-box {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 30px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.file-upload {
  margin-top: 1rem;
}

/* Styling for the audio player */
audio {
  margin-top: 1rem;
  width: 100%;
  max-width: 300px;
  display: block;
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 5px;
}

/* Styling for the Close button */
.close-button {
  background-color: #555555;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1rem;
}

.custom-file-upload {
  border: 2px solid #555555;
  background-color: #555555;
  color: white;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.custom-file-upload input {
  display: none; /* 隐藏原始文件上传控件 */
}